Python
--
Python is a general-purpose interpreted, interactive, object-oriented, and high-level programming language. It was created by Guido van Rossum during 1985- 1990. 

Language is not named after a snake,
but after a comedy show "Flying Circus" which Monty Python was a fan of.

Why to Learn Python?
Python is a high-level, interpreted, interactive and object-oriented scripting language. Python is designed to be highly readable. It uses English keywords frequently where as other languages use punctuation, and it has fewer syntactical constructions than other languages.

Following are important characteristics of Python Programming −

It supports functional and structured programming methods as well as OOP.

It can be used as a scripting language or can be compiled to byte-code for building large applications.

It provides very high-level dynamic data types and supports dynamic type checking.

It supports automatic garbage collection.

It can be easily integrated with C, C++, COM, ActiveX, CORBA, and Java.

Applications of Python
--
Easy-to-learn − Python has few keywords, simple structure, and a clearly defined syntax. This allows the student to pick up the language quickly.

Easy-to-read − Python code is more clearly defined and visible to the eyes.

Easy-to-maintain − Python's source code is fairly easy-to-maintain.

A broad standard library − Python's bulk of the library is very portable and cross-platform compatible on UNIX, Windows, and Macintosh.

Interactive Mode − Python has support for an interactive mode which allows interactive testing and debugging of snippets of code.

Portable − Python can run on a wide variety of hardware platforms and has the same interface on all platforms.

Extendable − You can add low-level modules to the Python interpreter. These modules enable programmers to add to or customize their tools to be more efficient.

Databases − Python provides interfaces to all major commercial databases.

GUI Programming − Python supports GUI applications that can be created and ported to many system calls, libraries and windows systems, such as Windows MFC, Macintosh, and the X Window system of Unix.

Scalable − Python provides a better structure and support for large programs than shell scripting.

Python Data Types
--
Variables can hold values of different data types. Python is a dynamically typed language hence we need not define the type of the variable while declaring it. The interpreter implicitly binds the value with its type.

Python enables us to check the type of the variable used in the program. Python provides us the type() function which returns the type of the variable passed.

In [88]:
a=10  
b="Hi Python"  
c = 10.5  
print(type(a))  
print(type(b))   
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

Standard data types
--
A variable can hold different types of values. For example, a person's name must be stored as a string whereas its id must be stored as an integer.

Python provides various standard data types that define the storage method on each of them. The data types defined in Python are given below.

> Numbers

> String

> List

> Tuple

> Dictionary

Numbers
--
Number stores numeric values. Python creates Number objects when a number is assigned to a variable. For example;

a = 3 , b = 5  #a and b are number objects  
Python supports 4 types of numeric data.

int (signed integers like 10, 2, 29, etc.)
long (long integers used for a higher range of values like 908090800L, -0x1929292L, etc.)
float (float is used to store floating point numbers like 1.9, 9.902, 15.2, etc.)
complex (complex numbers like 2.14j, 2.0 + 2.3j, etc.)
Python allows us to use a lower-case L to be used with long integers. However, we must always use an upper-case L to avoid confusion.

A complex number contains an ordered pair, i.e., x + iy where x and y denote the real and imaginary parts respectively).

String
--
The string can be defined as the sequence of characters represented in the quotation marks. In python, we can use single, double, or triple quotes to define a string.

The operator * is known as repetition operator as the operation "Python " *2 returns "Python Python "

In [89]:
str1 = 'hello Python' #string str1  
str2 = ' how are you' #string str2  
print (str1[0:2]) #printing first two character using slice operator  
print (str1[4]) #printing 4th character of the string  
print (str1*2) #printing the string twice  
print (str1 + str2) #printing the concatenation of str1 and str2

he
o
hello Pythonhello Python
hello Python how are you

Python Keywords
--
Python Keywords are special reserved words which convey a special meaning to the compiler/interpreter. Each keyword have a special meaning and a specific operation. These keywords can't be used as variable. 

Following is the List of Python Keywords.

True

False

None

and

as

asset

def

class

continue

break

else

finally

elif

del

except

global

for

if

from

import

raise

try

or

return

pass

nonlocal

in

not

is

lambda

Order of Operations:
--
PEMDAS

Comments:


# for single line comments

"""This is
   for multi-line
   comments"""

Functions:
--
Function is a named sequence of statements that performs a computation.

In [3]:
# Type Conversion Functions

int('32')

32

In [4]:
int(3.88888)

3

In [5]:
int(-2.33)

-2

In [87]:
int('Hello') # Value error

ValueError: invalid literal for int() with base 10: 'Hello'

In [7]:
float(32)

32.0

In [8]:
float('12.7576')

12.7576

In [9]:
str(32)

'32'

Math Functions:
--
 Import module 'math' for this

In [10]:
import math
print(math)

<module 'math' from '/Users/girishsalunke/anaconda3/lib/python3.7/lib-dynload/math.cpython-37m-darwin.so'>

In [11]:
# It is used with dot notations
a = 2*math.sin(90)
print(a)

1.7879933272011157

In [12]:
import math as m
a = 2*m.tan(90)
print(a)

-3.990400824416484

In [13]:
print(m.sqrt(4))
print(m.ceil(5.1))
print(m.floor(5.1))
print(m.exp(3.0))
print(m.log(3))
print(m.log10(2))
print(m.pow(2,3))

2.0
6
5
20.085536923187668
1.0986122886681098
0.3010299956639812
8.0

In [14]:
m.sqrt(144)

12.0

In [15]:
from math import *
math.sqrt(100)

10.0

User Defined Functions:
--

'def' keyword is used for this

In [16]:
def abc():
    print("Hi")
    print("Hello TSEC")

abc()

Hi
Hello TSEC

In [17]:
def xyz():
    abc()
    print("In abc")

xyz()

Hi
Hello TSEC
In abc

Parameter passing and Arguments:
--

In [18]:
def mno(a):
    print(a)

mno(233)
mno(33.122)
mno('999')
mno('TSEC')
mno(math.pi)

233
33.122
999
TSEC
3.141592653589793

In [19]:
def mno(a):
    a = a**2
    return a
    

x = mno(5)
print(x)

25

In [20]:
# Modulus Operator
print(7/3)
print(7%3)

2.3333333333333335
1

In [21]:
# Boolean Operator
print(5==5)
print('5==6')
print('Hi'=='Hi')
print('hi'=='Hi')
print(type(False))

True
5==6
True
False
<class 'bool'>

In [22]:
# Relational Operators
# > < >= <= == !=
a = 5>6
print(a)

False

In [23]:
# Logical Operators
# and, or

print(17 and True)

True

Conditional execution
--

In [24]:
# if statement
x = 40
if x>35:
    print(x,"is greater that 35")
else:
    print(x,"is less than or equal to 35")

40 is greater that 35

In [25]:
# Chained Conditionals
x = 35
if x>35:
    print(x,"is greater that 35")
elif x<35:
    print(x,"is less than 35")
else:
    print(x,"is equal to 35")

35 is equal to 35

In [26]:
# Nested Conditionals
x = 35
if x>35:
    print(x,"is greater that 35")
else:
    if x<35:
        print(x,"is less than 35")
    else:
        print(x,"is equal to 35")

35 is equal to 35

In [27]:
# Recursion
# A function calling itself
def countdown(n):
    if n<=0:
        print("Blast Off!!!!!")
    else:
        print(n)
        countdown(n-1)

countdown(5)

5
4
3
2
1
Blast Off!!!!!

In [28]:
# Taking input in Python from the user
x=input()
print(x)
print("\nInput recorded.")

Input recorded.

In [29]:
print("Enter two numbers:")
x=input()
y=input()
z=x+y
print("Addition is: ",z)

Enter two numbers:


Addition is:

In [30]:
print("Enter two numbers:")
x=int(input())
y=int(input())
z=x+y
print("Addition is: ",z)

Enter two numbers:

ValueError: invalid literal for int() with base 10: ''

In [31]:
1+2

3

Arithmetic Operators

+ 
- 
* 
/ 
%
// -Floor Division 4//6 = 0
** Exponentiation 2**3 = 8

In [32]:
# Membership Operators
s = [1,2,3,4]
7 in s

False

Looping Statements:
    --

In [33]:
n = [1,2,3,4,5]
for i in n:
    print(i)

1
2
3
4
5

In [34]:
names = ['ABC', 'XYZ']
for i in names:
    print(i)

ABC
XYZ

In [35]:
s = "Machine Learning"
for i in s:
    print(i)

M
a
c
h
i
n
e

L
e
a
r
n
i
n
g

range function:
--

>range(5): It goes from 0 to 4 to generate a sequence of numbers

>range(start, stop, stepsize): Default stepsize is 1

In [36]:
# Program to display sum of numbers
sum = 0
for i in range(5):
    sum = sum + i
print("Sum= ",sum)

Sum=  10

In [37]:
# Program to display even numbers in given range
for i in range(2, 20, 2):
    print(i)

2
4
6
8
10
12
14
16
18

In [38]:
# while
i=1
while i<=5:
    print(i)
    i = i+1

1
2
3
4
5

In [39]:
s = "Machine Learning"
i=0
while i<len(s):
    d =s[i]
    print(d)
    i=i+1

M
a
c
h
i
n
e

L
e
a
r
n
i
n
g

In [40]:
# Nested for
for i in range(5):
    for j in range(i):
        print("*",end = "  ")
    print("\n")

*

*  *

*  *  *

*  *  *  *

In [41]:
# break
n = (1,2,3,4,5)
for i in n:
    if(i==4):
        break
    print(i)

1
2
3

In [42]:
# continue
n = (1,2,3,4,5)
for i in n:
    if(i==3):
        continue
    print(i)

1
2
4
5

In [43]:
# Program to fing average of 3 numbers
def avg(n1, n2, n3):
    sum = n1+n2+n3
    print(sum/3)
avg(10,11,12)
avg(1,2,3)

11.0
2.0

In [44]:
def avg(n1=2, n2=1, n3=0):
    sum = n1+n2+n3
    print(sum/3)
avg()
avg(1)
avg(1,2)
avg(1,4)
avg(n1=2,n3=2)

1.0
0.6666666666666666
1.0
1.6666666666666667
1.6666666666666667

In [45]:
# String Slicing
s = "Machine Learning"
print(s[1:5])
print(s[:5])
print(s[5:])
print(s[::-1])
print(s[-8:-3])

achi
Machi
ne Learning
gninraeL enihcaM
Learn

In [46]:
# Program to demonstarte various string functions
s1 = "Hello World"
s2 = "Machine Learning"
s3 = "Darshan"
print(s1+s2)
print(s3*3)
print(s2.swapcase())
print(s1.lower())
print(s3.upper())
print(max(s3))
print(min(s3))
print(s1.isdigit())
s4="an apple a day keeps the doctor away "
print(s4.capitalize())
print(len(s4))
print(s4.replace('a','e'))

Hello WorldMachine Learning
DarshanDarshanDarshan
mACHINE lEARNING
hello world
DARSHAN
s
D
False
An apple a day keeps the doctor away
37
en epple e dey keeps the doctor ewey

In [47]:
# 'in' and 'not in' operator
s = "Machine"
print('a' in s)
print('a' not in s)

True
False

Lists
--
> It is similar to arrays.

    > It can contain any type of variable of distinct type

In [48]:
# empty list
st = []
print(st)

[]

In [49]:
st = [1,2,3,4]
print(st)

[1, 2, 3, 4]

In [50]:
st = [1,22.33,"Machine"]
print(st)
print(type(st))

[1, 22.33, 'Machine']
<class 'list'>

In [51]:
st = ['A','B','C','D','E']
print(st[0])
print(st[3])
print(st[-1])
print('A' in st)

A
D
E
True

Lists are mutable. It means we can change an item in a list by accessing it as a part of the assignment statement.

In [52]:
st = ['A','B','C','D','E']
print(st)
st[0] = 'X'
print(st)

['A', 'B', 'C', 'D', 'E']
['X', 'B', 'C', 'D', 'E']

In [53]:
# List of lists
l=[1,2,[100,200,300],3,4,5]
print(l)
print(l[2])
print(l[2][2])

[1, 2, [100, 200, 300], 3, 4, 5]
[100, 200, 300]
300

In [54]:
l=[1,2,3,4,5]
print(l)
l.remove(2)
print(l)

[1, 2, 3, 4, 5]
[1, 3, 4, 5]

In [55]:
l=[1,2,3,4,5]
l.remove(22)
print(l)

ValueError: list.remove(x): x not in list

In [56]:
l=[1,2,3,4,5]
print(l)
del l[1]
print(l)

[1, 2, 3, 4, 5]
[1, 3, 4, 5]

In [57]:
# Concatenation
l1=[1,2,3]
l2=[11,12,13]
l1+l2

[1, 2, 3, 11, 12, 13]

In [58]:
l1=[3,2,1,5,4]
print(l1)
print(l1[:])
print(min(l1))
print(max(l1))
l1.insert(2,999)
print(l1)
l1.append(777)
print(l1)
l1.sort()
print(l1)
l1.reverse()
print(l1)
l1.clear()
print(l1)

[3, 2, 1, 5, 4]
[3, 2, 1, 5, 4]
1
5
[3, 2, 999, 1, 5, 4]
[3, 2, 999, 1, 5, 4, 777]
[1, 2, 3, 4, 5, 777, 999]
[999, 777, 5, 4, 3, 2, 1]
[]

Tuples
--
> Tuple is similar to a list. However, in tuples, we cannot change the elements after assignment i.e they are immutable.

> Each element or value inside the tuple is called an item.

In [59]:
s = ('y','v','angle')
print(s)
print(type(s))

('y', 'v', 'angle')
<class 'tuple'>

In [60]:
# empty tuple
t = ()
print(t)

()

In [61]:
t = tuple()
t=1
print(t)
print(type(t))

1
<class 'int'>

In [62]:
# Single value tuple must use a comma
t = (1,)

In [63]:
t = (1,2,33.4443,5,6)
print(t[1:3])
print(t[1:])
print(t[:4])
print(t[::-1])
print(t[-5:-1])

(2, 33.4443)
(2, 33.4443, 5, 6)
(1, 2, 33.4443, 5)
(6, 5, 33.4443, 2, 1)
(1, 2, 33.4443, 5)

In [64]:
t1 = (1,2,3)
t2 = (4,5,6)
t1+t2

(1, 2, 3, 4, 5, 6)

In [65]:
t1*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [66]:
3 in t1

True

In [67]:
len(t1)

3

In [68]:
max(t1)

3

Dictionary/Associative Array:
--

> Python provides a dictionary structure to deal with unordered set of key value pairs.

> The key and value pair is called as item.

> The values in the dictionary are mutable i.e can be changed

> The keys in the dictionary are immutable i.e cannot be changed

> It is also called as an Associative array because the key works as an Index and they are decided by the user.

In [69]:
d = {1:"COMP", 2: "IT", 3:"EXTC"}
print(d)

{1: 'COMP', 2: 'IT', 3: 'EXTC'}

In [70]:
d1 = {"COMP" : 3, "IT": 1, "EXTC":2}
print(d1)

{'COMP': 3, 'IT': 1, 'EXTC': 2}

In [71]:
d = {1:"COMP", 2: "IT", 3:"EXTC"}
print(d[1])
d[1]="MACHINE"
print(d[1])
print(d)
del d[1]
print(d)
d.clear()
print(d)

COMP
MACHINE
{1: 'MACHINE', 2: 'IT', 3: 'EXTC'}
{2: 'IT', 3: 'EXTC'}
{}

In [72]:
d = {1:"COMP", 2: "IT", 3:"EXTC"}
print(3 in d)
print(str(d))
print(len(d))
print(d.keys())
print(d.values())

True
{1: 'COMP', 2: 'IT', 3: 'EXTC'}
3
dict_keys([1, 2, 3])
dict_values(['COMP', 'IT', 'EXTC'])

In [73]:
d1 = {1:"COMP", 2: "IT", 3:"EXTC"}
d2 = {100:"CHEM"}
print(d1)
print(d2)
d1.update(d2)
print(d1)

{1: 'COMP', 2: 'IT', 3: 'EXTC'}
{100: 'CHEM'}
{1: 'COMP', 2: 'IT', 3: 'EXTC', 100: 'CHEM'}

Random Module
--

It is used to deal with numbers in random manner.

In [74]:
import random
print(random.choice((1,2,3,4,5,6)))
print(random.choice([11,22,33,44,55,66]))
print(random.choice('Darshan'))
print(random.randrange(100,1000,2))
print(random.random())

3
44
s
208
0.15268573787729833

In [75]:
st=[1,3,2,6]
random.shuffle(st)
print(st)
#Try executing
#print(random.shuffle(st))
print(random.uniform(7,14))
print(random.uniform(7,14))

[3, 2, 1, 6]
7.472684853084346
7.125095015934569

In [76]:
# Dictionary can contain lists
l = {1: ['1',2], 2: ['1', '2'], 3: ['2', '3'], 4: ['3']}
print(l)
print(type(l))

{1: ['1', 2], 2: ['1', '2'], 3: ['2', '3'], 4: ['3']}
<class 'dict'>

In [77]:
# Dictionary can contain tuples
l = {1: ('1',2), 2: ('1', '2'), 3: ('2', '3'), 4: ('3')}
print(l)
print(type(l))

{1: ('1', 2), 2: ('1', '2'), 3: ('2', '3'), 4: '3'}
<class 'dict'>

In [78]:
# Dictionary can contain dictionaries
l = {1: ('1',2), 2: ('1', '2'), 100:{444: ('1',2), 445: ('1', '2'), 446: ('2', '3')},3: ('2', '3'), 4: ('3')}
print(l)
print(type(l))
print("l[1]= ",l[1])
print("l[100]= ",l[100])

{1: ('1', 2), 2: ('1', '2'), 100: {444: ('1', 2), 445: ('1', '2'), 446: ('2', '3')}, 3: ('2', '3'), 4: '3'}
<class 'dict'>
l[1]=  ('1', 2)
l[100]=  {444: ('1', 2), 445: ('1', '2'), 446: ('2', '3')}

In [79]:
# List can contain tuples
l=[1,2,(999,888),3,4]
print(l)
print(l[2])
print(type(l))
print(type(l[2]))

[1, 2, (999, 888), 3, 4]
(999, 888)
<class 'list'>
<class 'tuple'>

In [80]:
# Tuple can contain lists
l = (1,2,[999,888],3,4)
print(l)
print(l[2])
print(type(l))
print(type(l[2]))

(1, 2, [999, 888], 3, 4)
[999, 888]
<class 'tuple'>
<class 'list'>