Decision Trees in Python with Scikit-Learn
-------------------------------------------------------------

Introduction
-----------------
A decision tree is one of most frequently and widely used supervised machine learning algorithms that can perform both regression and classification tasks. 

For each attribute in the dataset, the decision tree algorithm forms a node, where the most important attribute is placed at the root node. For evaluation we start at the root node and work our way down the tree by following the corresponding node that meets our condition or "decision". This process continues until a leaf node is reached, which contains the prediction or the outcome of the decision tree.

Consider a scenario where a person asks you to lend them your car for a day, and you have to make a decision whether or not to lend them the car. There are several factors that help determine your decision, some of which have been listed below:

![decison_tree_image](datasets_n_images/images/decison_tree_image.png 'decison_tree_image')

Advantages of Decision Trees
------------------------------

There are several advantages of using decision treess for predictive analysis:

>1. Decision trees can be used to predict both continuous and discrete values i.e. they work well for both regression and classification tasks.

>2. They require relatively less effort for training the algorithm.

>3. They can be used to classify non-linearly separable data.

>4. They're very fast and efficient compared to KNN and other classification algorithms.

# 1. Decision Tree for Classification
---------------------------------------------------------

Here, we will predict whether a bank note is authentic or fake depending upon the four different attributes of the image of the note. The attributes are Variance of wavelet transformed image, kurtosis of the image, entropy, and skewness of the image.

In [2]:
# doing the minimum necessary imports
# more modules would be imported as and when needed

import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
%matplotlib inline
#try %matplotlib notebook

# reading data from CSV file. 
# reading bank currency note data into pandas dataframe.
bankdata = pd.read_csv("./datasets_n_images/datasets_module_4/bill_authentication.csv")  

# Exploratory Data Analysis
print(bankdata.shape)  
print("------------")
print(bankdata.head()) 
#class=0 Not fake
#Class=1 Fake

(1372, 5)
------------
   Variance  Skewness  Curtosis  Entropy  Class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [8]:
# Data Preprocessing
# Data preprocessing involves 
# (1) Dividing the data into attributes and labels and 
# (2) dividing the data into training and testing sets.

# To divide the data into attributes and labels, do :
X=bankdata.drop('Class',axis=1)
y=bankdata['Class']


# the final preprocessing step is to divide data into training and test sets

# type your code here
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
X_train, X_test,y_train,y_test=train_test_split(X,y,test_size=0.20)



# Training the Algorithm. Here we would use DecisionTreeClassifier
from sklearn.tree import DecisionTreeClassifier  
classifier = DecisionTreeClassifier()  
# type your code here
classifier.fit(X_train,y_train)

# make predictions on the test data
y_pred=classifier.predict(X_test)



# Evaluating the Algorithm
# type your code here
print('Accuracy:', accuracy_score(y_test, y_pred))
# SYNTAX: accuracy_score(y_true, y_pred, normalize=True, sample_weight=None)

print('Classification Stats:')
print(classification_report(y_test, y_pred))

print('Confusion matrix:')
print(confusion_matrix(y_test, y_pred))

# Remember : for evaluating classification-based ML algo use  
# confusion_matrix, classification_report and accuracy_score.
# And for evaluating regression-based ML Algo use Mean Squared Error(MSE), ...

Accuracy: 0.9890909090909091
Classification Stats:
              precision    recall  f1-score   support

           0       1.00      0.98      0.99       135
           1       0.98      1.00      0.99       140

    accuracy                           0.99       275
   macro avg       0.99      0.99      0.99       275
weighted avg       0.99      0.99      0.99       275

Confusion matrix:
[[132   3]
 [  0 140]]

__Conclusion :__

__Try 1:__
From the confusion matrix, you can see that out of 275 test instances, our algorithm misclassified only 2. This is 98.5% accuracy. This will change everytime depending upon weighted avg precision value.

__Try 2:__
From the confusion matrix, you can see that out of 275 test instances, our algorithm misclassified only 2. This is 99.27% accuracy.

In [15]:
#Loop the above process
# type your code here on your own
from sklearn.model_selection import train_test_split
x=0.05
test_size=0.75
for i in range(1,10):
    X_train, X_test,y_train,y_test=train_test_split(X,y,test_size=0.55-x)
    test_size=0.55-x
    classifier = DecisionTreeClassifier()  
    classifier.fit(X_train,y_train)
    y_pred=classifier.predict(X_test)
    print("----------------------------------------------")
    print("Iteration no: ",i)
    print("Test size=",test_size)
    print('Accuracy:', accuracy_score(y_test, y_pred))
    print('Classification Stats:')
    print(classification_report(y_test, y_pred))
    print('Confusion matrix:')
    print(confusion_matrix(y_test, y_pred))

----------------------------------------------
Iteration no:  1
Test size= 0.5
Accuracy: 0.9883381924198251
Classification Stats:
              precision    recall  f1-score   support

           0       0.99      0.99      0.99       393
           1       0.99      0.99      0.99       293

    accuracy                           0.99       686
   macro avg       0.99      0.99      0.99       686
weighted avg       0.99      0.99      0.99       686

Confusion matrix:
[[389   4]
 [  4 289]]
----------------------------------------------
Iteration no:  2
Test size= 0.5
Accuracy: 0.9620991253644315
Classification Stats:
              precision    recall  f1-score   support

           0       0.97      0.97      0.97       376
           1       0.96      0.96      0.96       310

    accuracy                           0.96       686
   macro avg       0.96      0.96      0.96       686
weighted avg       0.96      0.96      0.96       686

Confusion matrix:
[[363  13]
 [ 13 297]]
----------------------------------------------
Iteration no:  3
Test size= 0.5
Accuracy: 0.9737609329446064
Classification Stats:
              precision    recall  f1-score   support

           0       0.98      0.97      0.98       384
           1       0.96      0.98      0.97       302

    accuracy                           0.97       686
   macro avg       0.97      0.97      0.97       686
weighted avg       0.97      0.97      0.97       686

Confusion matrix:
[[372  12]
 [  6 296]]
----------------------------------------------
Iteration no:  4
Test size= 0.5
Accuracy: 0.956268221574344
Classification Stats:
              precision    recall  f1-score   support

           0       0.98      0.95      0.96       384
           1       0.93      0.97      0.95       302

    accuracy                           0.96       686
   macro avg       0.95      0.96      0.96       686
weighted avg       0.96      0.96      0.96       686

Confusion matrix:
[[363  21]
 [  9 293]]
----------------------------------------------
Iteration no:  5
Test size= 0.5
Accuracy: 0.9737609329446064
Classification Stats:
              precision    recall  f1-score   support

           0       0.97      0.98      0.98       363
           1       0.98      0.96      0.97       323

    accuracy                           0.97       686
   macro avg       0.97      0.97      0.97       686
weighted avg       0.97      0.97      0.97       686

Confusion matrix:
[[357   6]
 [ 12 311]]
----------------------------------------------
Iteration no:  6
Test size= 0.5
Accuracy: 0.978134110787172
Classification Stats:
              precision    recall  f1-score   support

           0       0.98      0.98      0.98       385
           1       0.97      0.98      0.98       301

    accuracy                           0.98       686
   macro avg       0.98      0.98      0.98       686
weighted avg       0.98      0.98      0.98       686

Confusion matrix:
[[377   8]
 [  7 294]]
----------------------------------------------
Iteration no:  7
Test size= 0.5
Accuracy: 0.9854227405247813
Classification Stats:
              precision    recall  f1-score   support

           0       0.98      0.99      0.99       371
           1       0.99      0.98      0.98       315

    accuracy                           0.99       686
   macro avg       0.99      0.98      0.99       686
weighted avg       0.99      0.99      0.99       686

Confusion matrix:
[[368   3]
 [  7 308]]
----------------------------------------------
Iteration no:  8
Test size= 0.5
Accuracy: 0.9766763848396501
Classification Stats:
              precision    recall  f1-score   support

           0       0.99      0.97      0.98       384
           1       0.96      0.99      0.97       302

    accuracy                           0.98       686
   macro avg       0.98      0.98      0.98       686
weighted avg       0.98      0.98      0.98       686

Confusion matrix:
[[372  12]
 [  4 298]]
----------------------------------------------
Iteration no:  9
Test size= 0.5
Accuracy: 0.9708454810495627
Classification Stats:
              precision    recall  f1-score   support

           0       0.97      0.97      0.97       362
           1       0.97      0.97      0.97       324

    accuracy                           0.97       686
   macro avg       0.97      0.97      0.97       686
weighted avg       0.97      0.97      0.97       686

Confusion matrix:
[[351  11]
 [  9 315]]

# 2. Decision Tree for Regression
------------------------------------------------------

We will petrol_consumption.csv dataset to try and predict gas consumptions (in millions of gallons) in 48 US states based upon gas tax (in cents), per capita income (dollars), paved highways (in miles) and the proportion of population with a drivers license.

In [16]:
# Importing Libraries
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
%matplotlib inline

# Importing the Dataset
# type your code here
dataset = pd.read_csv("./datasets_n_images/datasets_module_4/petrol_consumption.csv")  


dataset.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [5]:
# To see statistical details of the dataset, execute the following command:
dataset.describe()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
count,48.000000,48.000000,48.000000,48.000000,48.000000
mean,7.668333,4241.833333,5565.416667,0.570333,576.770833
std,0.950770,573.623768,3491.507166,0.055470,111.885816
min,5.000000,3063.000000,431.000000,0.451000,344.000000
25%,7.000000,3739.000000,3110.250000,0.529750,509.500000
50%,7.500000,4298.000000,4735.500000,0.564500,568.500000
75%,8.125000,4578.750000,7156.000000,0.595250,632.750000
max,10.000000,5342.000000,17782.000000,0.724000,968.000000

In [24]:
# Preparing the Data
# divide the data into attributes and labels

X = dataset.drop('Petrol_Consumption', axis=1)  
y = dataset['Petrol_Consumption']  

# dividing data into training and testing set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.10,random_state=0)


# Training and Making Predictions
# Note : we will using DecisionTreeRegressor class , not DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor 

regressor = DecisionTreeRegressor()  
regressor.fit(X_train, y_train)



# To make predictions on the test set, 
y_pred = regressor.predict(X_test)  

# Now let's compare some of our predicted values with the actual values 
df=pd.DataFrame({'Actual':y_test, 'Predicted':y_pred})  
df

    Actual  Predicted
29     534      487.0
4      410      524.0
26     577      574.0
30     571      554.0
32     577      574.0

**Remember : 

that in your case the records compared may be different, depending upon the training and testing split. Since the train_test_split method randomly splits the data we likely won't have the same training and test sets.

In [25]:
# Evaluating the Algorithm
# type your code here
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 36.8
Mean Squared Error: 3102.4
Root Mean Squared Error: 55.69919209467943

The mean absolute error for our algorithm is 56.09, which is less than 10% of 576.77 i.e. 57.677 of all the values in the 'Petrol_Consumption' column. This means that our algorithm did a fine prediction job. All though getting a value <10% would have been better.

Lets find another model for prediction which gives rmse within 57.6(i.e. 10% of 576)

In [26]:
# necessary imports
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
%matplotlib inline

# loading the dataset
dataset = pd.read_csv('./datasets_n_images/datasets_module_4/petrol_consumption.csv')

dataset.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [27]:
dataset.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [28]:
dataset.describe()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
count,48.000000,48.000000,48.000000,48.000000,48.000000
mean,7.668333,4241.833333,5565.416667,0.570333,576.770833
std,0.950770,573.623768,3491.507166,0.055470,111.885816
min,5.000000,3063.000000,431.000000,0.451000,344.000000
25%,7.000000,3739.000000,3110.250000,0.529750,509.500000
50%,7.500000,4298.000000,4735.500000,0.564500,568.500000
75%,8.125000,4578.750000,7156.000000,0.595250,632.750000
max,10.000000,5342.000000,17782.000000,0.724000,968.000000

In [29]:
X = dataset.drop('Petrol_Consumption', axis=1)  
y = dataset['Petrol_Consumption']

In [30]:
from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=0) #default tset_size=0.25,
                                                                                            #random_state=seedvalue

# Training the Algorithm
from sklearn.linear_model import LinearRegression  
regressor = LinearRegression()  
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [33]:
y_pred = regressor.predict(X_test)  

# Now let's compare some of our predicted values with the actual values 
df=pd.DataFrame({'Actual':y_test, 'Predicted':y_pred})  
df

    Actual   Predicted
29     534  468.446949
4      410  550.475773
26     577  589.922533
30     571  572.151628
32     577  648.442611
37     704  645.441003
34     487  517.913312
40     587  669.802235
7      467  499.668226
10     580  496.656659
11     471  406.347089
31     554  589.356261
33     628  625.694916
27     631  600.115638
47     524  554.212026
2      561  582.575412
46     610  680.359903
18     865  769.369480
15     635  589.741398
28     574  553.409075
22     464  414.937462
16     603  591.583736
41     699  648.467615
20     649  686.483997

In [34]:
# Evaluating the Algorithm
from sklearn import metrics  
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 47.714703956314416
Mean Squared Error: 3307.87066396728
Root Mean Squared Error: 57.51409100357303